{% extends "main.html" %}
{% block contents %}
<div class="content">
<div class="row">
    <div class="col-6">
        <img src="{{ url_for('main.grafica') }}" alt="promedio de ventas" width="500" >
    </div>
    <div class="col-6">
        <br>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Promedio</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Número máximo de ventas</td>
                    <td>$ 900</td>
                </tr>
                <tr>
                    <td>Mejor mes con ventas</td>
                    <td>Febrero</td>
                </tr>
                <tr>
                    <td>Peor mes en ventas</td>
                    <td>Septiembre</td>
                </tr>
                <tr>
                    <td>Promedio total de ventas</td>
                    <td> $ {{promedio}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" onclick="guardarComoPDF();">Guardar datos</button>
    </div>
</div>

<script>
    function guardarComoPDF() {
  // Abre una nueva ventana con la dirección especificada
  var ventana = window.open('http://127.0.0.1:5000/imprimirEstadistica', '_blank');
  
  // Espera a que se cargue el contenido de la ventana
  ventana.onload = function() {
    // Presiona la tecla Ctrl + P para abrir la ventana de impresión
    ventana.document.body.focus();
    ventana.print();
    
    // Cierra la ventana después de 1 segundo
    setTimeout(function() { ventana.close(); }, 1000);
  }
  }
</script>
</div>
{% endblock %}