{% extends "main.html" %}
{% block contents %}
<div>
    <div>
        <ul>
            <li><a href="#"><img src="../static/img/flowers/tulips.jpg" alt="" /> 
                <span>Tulipanes</span></a>
            </li>
            <li><a href="#"><img src="../static/img/flowers/bouquet.jpg" alt="" /> 
                <span>Margaritas</span></a>
            </li>
            <li><a href="#"><img src="../static/img/flowers/roses.jpg" alt="" /> 
                <span>Aniversario</span></a></li>
            <li><a href="#"><img src="../static/img/flowers/bouquet2.jpg" alt="" /> 
                <span>Flores silvestres</span></a>
            </li>
            <li><a href="#"><img src="../static/img/flowers/roses2.jpg" alt=""/> 
                <span>Arreglo de rosas</span></a>
            </li>
            <li><a href="#"><img src="../static/img/flowers/bridal-bouquet2.jpg" alt="" /> <span>
                        Ramos de novia</span></a></li>
            <li><a href="#"><img src="../static/img/flowers/sunflower.jpg" alt="" />
                    <span>Girasoles</span></a></li>
            </li>
            <li><a href="#"><img src="../static/img/flowers/speedwell.jpg" alt="" />
                    <span>Verónicas</span></a></li>
        </ul>
        <h4><a href="/arrangement">Ver todos los arreglos</a></h4>
    </div>
    <ul>
        <li>
            <h3>Flores para todas las ocasiones</h3>
            <p> Nuestro sitio tiene una amplia selección de arreglos 
                florales que son perfectos para cualquier ocasión, desde bodas y cumpleaños hasta 
                funerales y ocasiones especiales.</p>
        </li>
        <hr style="background-color: #ffa333;" size="5px">
        <li>
            <h3>Calidad y frescura garantizada</h3>
            <p>Nuestros arreglos florales están hechos con flores 
                de la más alta calidad y frescura para asegurarnos de que duren el mayor tiempo 
                posible y mantengan su belleza y fragancia.</p>
        </li>
        <hr style="background-color: #ffa333;" size="5px">
        <li>
            <h3>Variedad de estilos y diseños</h3>
            <p>En <em>La Casa De Las Flores</em>, ofrecemos una amplia variedad de 
                estilos y diseños para que puedas elegir el arreglo floral que mejor se adapte a 
                tus necesidades y gustos, desde arreglos modernos y minimalistas hasta arreglos 
                más clásicos y elaborados.</p>
        </li>
    </ul>
</div>
{% endblock %}