{% extends "main.html" %}
{% block contents %}
<div id="body">
<div class="handling">
    <h1>Sobre nosotros</h1>
    <div>
      <p>Bienvenidos a <em>La Casa De Las Flores</em>, donde podrás encontrar una amplia variedad de flores frescas y arreglos florales 
        diseñados para cualquier ocasión. En nuestra florería nos apasiona el arte floral y nos enorgullece crear arreglos únicos y 
        para cada uno de nuestros clientes.</p><br>
      <p>Nuestro equipo de floristas altamente capacitados y experimentados selecciona cuidadosamente las flores más frescas y de mayor 
        calidad para crear nuestros impresionantes arreglos florales. Nos esforzamos por brindar una experiencia de compra en línea fácil 
        y conveniente para nuestros clientes, desde la selección de las flores hasta la entrega de los arreglos.</p>
        <br>
    </div>

    <div>
        <p>Estamos comprometidos con la satisfacción del cliente y nos aseguramos de que cada uno de nuestros arreglos florales sea 
            entregado en perfectas condiciones al cliente. Si tienes alguna pregunta o necesitas ayuda para realizar tu pedido, 
            nuestro equipo de atención al cliente está aquí para ayudarte.</p> 
      </div>
      <div class="row">
        <ul>
          <li>
            <p>Nuestro principal diferenciador es nuestro compromiso con la calidad y la atención al detalle. 
                Trabajamos con los mejores proveedores de flores para asegurarnos de que nuestros arreglos sean siempre frescos y duraderos. 
                Además, nos esforzamos por crear diseños únicos y personalizados para cada cliente, utilizando flores de temporada y combinando 
                colores y texturas de manera creativa.</p>
          </li>
          <li>
            <p>En nuestra página web, podrás encontrar una amplia selección de arreglos florales para cualquier ocasión. También ofrecemos 
                opciones para personalizar tus pedidos con tarjetas y mensajes especiales. Y lo mejor de todo, puedes realizar tu pedido en 
                línea.</p>
          </li>
          <li>
            <p>¡Estamos emocionados de ser parte de tus momentos más especiales y esperamos que disfrutes de nuestras flores tanto como nosotros!</p>
          </li>
        </ul>
        <div><img src="../static/img/logo-flores-prototipo1.png" alt="" width="300"/></div>
      </div>
      <h3>Agradecemos tu preferencia</h3><br>
</div>
</div>
{% endblock %}