<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CASA DE LAS FLORES</title>
    <link rel="stylesheet" href="../static/css/estiloLogin.css">
  </head>
  <body>
    <!--<center><img src="../static/img/logo-flores-prototipo1.png" width="200"></center>>-->
    <form method="POST">
    <div class="login-form">
        <h1>Registrarse</h1>
        <br>
        <div class="form-group ">
          <input type="text" class="form-control" placeholder="Nombre" id="name" required>
        </div>
        <div class="form-group ">
            <input type="text" class="form-control" placeholder="Apellidos" id="lastName" required>
        </div>
        <div class="form-group ">
            <input type="email" class="form-control" placeholder="Correo" id="email" required>
        </div>
        <div class="form-group ">
          <input type="password" class="form-control" placeholder="Contraseña" id="password" required>
        </div>
        <button type="submit" id="register" onclick="">Registrarme</button>
      </div>
    </form>
      <script src="../static/js/login.js"></script>
  </body>
</html>
