{% extends "main.html" %}
{% block contents %}
<div class="content">
<br>
<div class="col-2">
    <div class="gallery">
        <h1>Comentarios</h1>
        <a href="/" class="btn btn-success text-white" style="background:#d27300;
            width:200px;
            font-size:16px;
            height:40px;
            color:#fff;
            text-decoration:none;
            border:none;"> Regresar</a>
    </div>
</div>
<br>
<center>
<div class="col-10">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Correo</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {% for comentario in comentarios %}
            <tr>
                <td>{{comentario.correo}}</td>
                <td>{{comentario.mensaje}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>
</center>
</div>
{% endblock %}